@model CreateProjectViewModel
@{
    ViewBag.Title = "CreateProject";
}

<h2>CreateProject</h2>

<form method="post">
    @Html.ValidationSummary(false)

    <div class="form-group">
        @Html.LabelFor(p => p.ProjectName, "Name:")
        @Html.TextBoxFor(p => p.ProjectName, new { @class = "form-control", placeholder = "Name" })
    </div>
    <div class="">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>
