@model ShowProjectViewModel

<p>@Model.ProjectName</p>
<p>@Model.DateUpdated</p>
<p>@Model.DateCreated</p>

        @foreach (var record in Model.Users)
        {
            <p>@record.UserName</p>
        }

        
    

